.Timer-btn {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.Timer-btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.Timer-btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.Timer-btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
