.gridDay {
  display: grid;
  grid-template-columns: 45px 1fr;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.gridDayL2 {
  display: grid;
  grid-template-columns: 1fr;
}

.gridDayL21 {
  border-bottom: solid 1px black;
}
