.gridMont {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gridMont > div {
  text-align: center;
}

.otherTextStyle {
  color: #70757a;
}

.curretnDay {
  background-color: #1a73e8;
  color: #fff;
  border-radius: 24px;
}

.selectDay {
  color: #185abc;
  background-color: #d2e3fc;
  border-radius: 24px;
}

.Month-title {
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}
