.gridYear {
  margin-top:10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vw;
}

@media screen and (min-width:368px) and (max-width:768px) {
  .gridYear {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width:100px) and (max-width:368px) {
  .gridYear {
    grid-template-columns: repeat(1, 1fr);
  }
}
