.Filter-input {
  cursor: pointer;
}
.show>.Filter-input {
  border-radius: .25rem 0 0 0;
  cursor: text;
}
.Filter-list {
  border-top: none;
  border-radius: 0 0 .25rem .25rem;
}

.Filter-list-item {
  padding: .375rem .75rem;
}

.Filter-list-item:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

.show>.input-group-append>.Filter-btn-show {
  border-radius: 0 .25rem 0 0;
}
