.Tasks {
  margin: 1em;
}

.TasksHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
}

.TasksBody {
}

.TasksError,
.TakssLoading,
.NoTasks {
  text-align: center;
}

.Task-heade-timer {
  margin: auto;
}

.Task-heade-item-first {
  padding: 1rem;
  padding-right: 0px;
}

.list-gruop {
  padding: 0;
}
