.Task {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  align-items: center;
  grid-template-areas:
  "task-date task-client task-description  task-timer";
}

.Task-date {
  grid-area: task-date;
  padding-left: 1rem;
}
.Task-client {
  grid-area: task-client;
}
.Task-description {
  grid-area: task-description;
}
.Task-timer {
  grid-area: task-timer;
}

@media screen and (max-width: 700px) {
  .Task {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas:
    "task-date task-client task-timer"
    "task-description task-description task-description";
  }
  .Task-description {
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .Task {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas:
    "task-date task-client"
    " task-timer task-timer"
    "task-description task-description";
  }
  .Task-description {
    margin: auto;
  }
  .Task-date {
    grid-area: task-date;
  }
}
