.Page {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
  "Header Header"
  "Nav Article";
  grid-gap: 1vw;
}

.Header {
  grid-area: Header;
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
}

.Nav {
  grid-area: Nav;
  margin-left: 1vw;
}

.Nav > div,
.Nav > select {
  margin-bottom: 0.5rem;
}

.Article {
  grid-area: Article;
  margin-right: 1vw;
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 400px) {
  .Page {
    grid-template-columns: 1fr;
    grid-template-areas:
    "Header"
    "Nav"
    "Article";
  }
}
