.ModalWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
}

.modal-backdrop {
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.Modal {
  position: relative;
  background-color: white;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  padding: 1rem;
  max-width: 500px;
  margin: 1.75rem auto;
}
.Modal_close {
  position: absolute; 
  top: 0.5em;
  right: 0.5em;

}

